<h1>History</h1>

<h2>DID</h2>
<p>{{did}}</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Issuance Date</th>
      <th scope="col">Type</th>
      <th scope="col">Sender</th>
      <th scope="col">Receiver</th>
    </tr>
  </thead>
  <tbody>
    {{#each messages}}
      <tr>
        <td>{{issuanceDate}}</th>
        <td>{{type}}</th>
        <td>{{from.did}}</th>
        <td>{{to.did}}</th>
      </tr>
    {{~/each}}
  </tbody>
</table>