<h1>History</h1>

<h2>DID</h2>
<p>{{did}}</p>

<h2>Name</h2>
<p>{{name}}</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Timestamp</th>
      <th scope="col">Type</th>
      <th scope="col">Sender</th>
      <th scope="col">Receiver</th>
    </tr>
  </thead>
  <tbody>
    {{#each messages}}
      <tr>
        <td>{{timestamp}}</th>
        <td>{{type}}</th>
        <td>{{sender.did}}</th>
        <td>{{receiver.did}}</th>
      </tr>
    {{~/each}}
  </tbody>
</table>